{#
/**
 * Block Name: Two Thirds Img Cta Block
 *
 * This is the template that displays the Two Thirds Img Cta block.
 */
#}

{#  PREVIEW  #}
{% if is_preview %}

<div id="two-thirds-img-cta-{{ block.id }}" 
     class="two-thirds-img-cta flex justify-center items-center {{ fields.section_background_color }}"
     {% if fields.section_background_color == 'no-bg' and fields.custom_section_background_color is not empty %}
        style="background-color: {{ fields.custom_section_background_color }}"
     {% endif %}>
  <div class="max-w-full sm:max-w-[900px] flex flex-col sm:flex-row justify-between items-center">
    <div class="w-full sm:w-2/3 mb-6 sm:mb-0">
      <div class="p-8">
        {{ fields.block_content }}
      </div>

    <div class="flex justify-content-around mt-4 max-w-[400px] sm:max-w-full">
    {% for button in fields.cta_buttons %}
        <a href="{{ fields.cta_link }}">
        <button class="bg-{{ button.cta_background_color }} hover:bg-{{ button.cta_background_color }} font-bold py-2 px-4 rounded {% if loop.index == 2 %}ml-10{% endif %}">
            {{ button.cta_text }}
        </button>
        </a>
    {% endfor %}
    </div>

    </div>

    <div class="w-full sm:w-1/3 ml-0 sm:ml-6"> 
      <img src="{{ fields.block_image['url'] }}" alt="{% if fields.block_image['alt'] %}{{ fields.block_image['alt'] }}{% else %}Ben Grzybowski web development and design in portland oregon{% endif %}" class="w-full mx-auto max-w-[300px] sm:max-w-none h-auto p-6 md:p-0">
    </div>
  </div>
</div>

{% else %}
{# FRONT END #}
<div id="two-thirds-img-cta-{{ block.id }}" 
     class="two-thirds-img-cta flex justify-center items-center {{ fields.section_background_color }} md:p-10"
     {% if fields.section_background_color == 'no-bg' and fields.custom_section_background_color is not empty %}
        style="background-color: {{ fields.custom_section_background_color }}"
     {% endif %}>
  <div class="max-w-full sm:max-w-[900px] flex flex-col sm:flex-row justify-between items-center"
  {% if fields.custom_font_color is not empty %}
    style="color: {{ fields.custom_font_color }}"
  {% endif %}
  > 
    <div class="w-full sm:w-2/3 mbd-6 sm:mb-0">
      <div class="p-8">
        {{ fields.block_content }}
      </div>

    <div class="flex flex-row gap-4 justify-center md:justify-start mt-4 max-w-[400px] mx-auto sm:max-w-full p-0 md:p-6">
    {% for button in fields.cta_buttons %}
        <a href="{{ button.cta_link }}" {% if button.open_in_new_tab == 'yes' %}target="_blank" rel="noopener noreferrer"{% endif %}>
            <button class="bg-{{ button.cta_background_color }} hover:bg-{{ button.cta_background_color }} font-bold py-2 px-4 rounded">
                {{ button.cta_text }}
            </button>
        </a>
    {% endfor %}
    </div>

    </div>

    <div class="w-full sm:w-1/3 ml-0 sm:ml-6 p-8"> 
      <img src="{{ fields.block_image['url'] }}" alt="{% if fields.block_image['alt'] %}{{ fields.block_image['alt'] }}{% else %}Ben Grzybowski web development and design in portland oregon{% endif %}" class="w-full max-w-[300px] mx-auto sm:max-w-none h-auto p-6 md:p-0">
    </div>
  </div>
</div>

{% endif %}

<style type="text/css">

</style>